body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    background: url("../images/background.png");
}

.header {
    margin: 10px;
    padding: 20px 10px 20px 10px;
    width: 400px;
    text-align: center;
    background-color: rgb(175, 86, 13);
    color: white;
    font-size: 46px;
}


h2 {
    color: purple;
    font-size: 26px;
}

h3 {
    color: white;
    font-size: 26px;
}

h4 {
    color: white;
    font-size: 16px;
}

p {
    color: green;
    font-size: 16px;
}

.instructions {
    margin: 10px;
    padding: 20px 10px 20px 10px;
    width: 700px;
    background-color: rgb(233, 222, 161);
}

.numberToMatch {
    margin: 10px;
    padding: 25px 10px 0px 10px;
    width: 200px;
    height: 75px;
    background-color: green;
}

.winsAndLosses {
    margin: 10px;
    padding: 20px 10px 5px 10px;
    height: 75px;
    width: 150px;
    background-color: rgb(124, 205, 211);
}

.numberToMatch {
    float: left;
    width: 200px;
    height: 60px;
}

.winsAndLosses {
    float: left;
    width: 100px;
    height: 60px;
}

.gems {
    clear: both;
    margin: 10px;
}

.crystal-image {
    padding: 10px 20px 0px 0px;
    height: 100px;
    width: 100px;
}

.totalScore {
    margin: 10px;
    padding: 10px 10px 0px 10px;
    height: 30px;
    width: 350px;
    background-color: rgb(36, 110, 110)
}

.userTotal {
    margin: 10px;
    padding: 10px;
    height: 100px;
    width: 350px;
    background-color: rgb(36, 110, 110) 
}



